<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Hello, I'm Nhu, originally from Vietnam and currently based in Germany for my PhD study. Originally trained for molecular plant biology, I was later attracted to the theoretical and computational side. With this, I pursue a PhD where we bring classical quantitative genetics and modern molecular genetics under the same proof to explore plant adaptive and breeding potential. </p>
      </div>
      <div class="col-lg-4">
        <p> ---  <p>
        <p> "The beauty of quantitative genetics lies in its ability to predict the unpredictable. It takes the random and makes it deterministic, creating order from chaos” - William G. Hill </p>
        <p> "Play is the highest form of research" - Albert Einstein <p>
        <p> --- <p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/tntranloc/tntranloc.github.io/edit/img/portfolio/2024_NhuTran_CV.pdf" target="_blank" class="btn btn-lg btn-outline">
        #<a href="https://drive.google.com/file/d/11H4s17sjOI56XiEj-3n6ZK1MyeoHC98b/view?usp=share_link" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download my CV
        </a>
      </div>
    </div>
  </div>
</section>
