<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div class="col-lg-5 col-lg-offset-1">
        <p> I'm originally from Vietnam and currently based in Germany for my PhD study. Inititally trained as a molecular plant biologist, I was later attracted to the theoretical and computational side of biology. Hence, I pursue a PhD where we aim to bring classical quantitative genetics and modern molecular genetics under the same proof to explore plant adaptive and breeding potential. </p>
        <p> I thrive in a supportive and well-organized work environment. After work, I recharge myself with music playing, literature, and drawing. <p>      
      </div>
      <div class="col-lg-5">
        <p> ---  <p>
        <p> "The beauty of quantitative genetics lies in its ability to predict the unpredictable. It takes the random and makes it deterministic, creating order from chaos” - William G. Hill </p>
        <p> "Play is the highest form of research" - Albert Einstein <p>
        <p> --- <p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="img/portfolio/2024_NhuTran_CV.pdf" class="btn btn-lg btn-outline" target="_blank">
          <i class="fa fa-download"></i> Download my CV
        </a>
      </div>
    </div>
  </div>
</section>
