<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Hello, I'm Nhu, originally from Vietnam and currently based in Germany for my PhD study. Originally trained for molecular plant biology in my BSc, I was later attracted to the statistics and computational side. Bridging my background and interests, I continued my PhD study in the field of quantitative genetics, modelling, and systems biology </p>
      </div>
      <div class="col-lg-4">
        <p> My favourite quotes: The beauty of quantitative genetics lies in the ability to take the random and make it deterministic </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/tntranloc/tntranloc.github.io/blob/master/2024_CV_NhuTran.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download my CV
        </a>
      </div>
    </div>
  </div>
</section>
