
<!-- Activity Modals -->
<!-- Activity Modal 1 -->
<div class="portfolio-modal modal fade" id="activityModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <img src="img/activities/activity1-full.png" alt="Activity 1" class="img-responsive">
                    </div>
                    <div class="col-lg-4">
                        <h2>Activity 1</h2>
                        <p class="item-intro text-muted">Description of Activity 1</p>
                        <ul class="list-inline">
                            <li>Date: January 2024</li>
                            <li>Type: Community Service</li>
                            <li>Location: Netherlands</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Repeat the same structure for Activity Modal 2 and Activity Modal 3 -->
