<!-- Activities Section -->
<section id="activities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Activities</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <!-- Activity Item 1 -->
            <div class="col-md-4 portfolio-item">
                <a href="#activityModal1" class="portfolio-link" data-toggle="modal">
                    <img src="img/activities/activity1-thumbnail.jpg" alt="Activity 1" class="img-responsive">
                </a>
            </div>
            <!-- Activity Item 2 -->
            <div class="col-md-4 portfolio-item">
                <a href="#activityModal2" class="portfolio-link" data-toggle="modal">
                    <img src="img/activities/activity2-thumbnail.jpg" alt="Activity 2" class="img-responsive">
                </a>
            </div>
            <!-- Activity Item 3 -->
            <div class="col-md-4 portfolio-item">
                <a href="#activityModal3" class="portfolio-link" data-toggle="modal">
                    <img src="img/activities/activity3-thumbnail.jpg" alt="Activity 3" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</section>
