<!-- Activities Section -->
<!-- Timeline Section -->
<section id="timeline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Timeline & Activities</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row timeline-grid">
      {% assign years = site.activities | map: "year" | uniq | sort %}
      {% for year in years %}
      <div class="col-md-2 timeline-box">
        <a href="{{ site.baseurl }}/timeline/{{ year }}/">
          <div class="timeline-content">
            <h3>{{ year }}</h3>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

