<!-- Activity Modals -->
{% for activity in site.activities %}
<div class="portfolio-modal modal fade" id="activityModal-{{ activity.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ activity.title }}</h2>
            <h4 class="subtitle">{{ activity.subtitle }}</h4>
            <hr class="star-primary">
            <a href="img/activities/{{ activity.post-img }}" class="btn btn-lg btn-outline" target="_blank">
              <img src="img/activities/{{ activity.post-img }}" class="img-responsive img-centered portfolio-post-img" alt="{{ activity.alt }}">
            </a>
            {% if activity.description %}
            <p>{{ activity.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if activity.workplace %}
              <li>Workplace:
                <strong>{{ activity.workplace }}</strong>
              </li>
              {% endif %}
              {% if activity.project-date %}
              <li>Date:
                <strong>{{ activity.project-date }}</strong>
              </li>
              {% endif %}
              {% if activity.skills %}
              <li>Main Skills:
                <strong>{{ activity.skills }}</strong>
              </li>
              {% endif %}
              {% if activity.click %}
              <li>
                <strong>{{ activity.click }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
