<!-- Blog Section -->
<section id="blog-quotes" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Hobby Writing</h2>
                <hr class="star-primary">
                <h4>Click on the icon to show quotes</h4>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <!-- Quote 1 -->
            <div class="col-md-4">
                <div class="quote-container" id="quote-1">
                    <i class="fa fa-feather-alt fa-3x quote-icon" data-quote="There is no greater misfortune in the world than the loss of reason" data-author="Mikhail Bulgakov" data-title="The Master And Margarita (1967)"></i>
                    <div class="quote-text"></div>
                </div>
            </div>
            <!-- Quote 2 -->
            <div class="col-md-4">
                <div class="quote-container" id="quote-2">
                    <i class="fa fa-leaf fa-3x quote-icon" data-quote="Experience is merely the name men gave to their mistakes ... Behind every exquisite thing that existed, there was something tragic" data-author="Oscar Wilde" data-title="The Picture Of Dorian Gray (1890)"></i>
                    <div class="quote-text"></div>
                </div>
            </div>
            <!-- Quote 3 -->
            <div class="col-md-4">
                <div class="quote-container" id="quote-3">
                    <i class="fa fa-lightbulb fa-3x quote-icon" data-quote="Growing up, I took so many cues from books. They taught me most of what I knew about what people did, about how to behave. They were my teachers and my advisers" data-author="Neil Gaiman" data-title="The Ocean At The End Of The Lane (2013)"></i>
                    <div class="quote-text"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="https://inkynote.github.io" class="btn btn-primary btn-lg">Visit my full blog</a>
            </div>
        </div>
    </div>
</section>

<!-- JavaScript to handle the quote reveal -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const icons = document.querySelectorAll(".quote-icon");

        icons.forEach(icon => {
            icon.addEventListener("click", function() {
                const quote = this.getAttribute("data-quote");
                const author = this.getAttribute("data-author");
                const title = this.getAttribute("data-title");
                const quoteText = this.nextElementSibling;

                quoteText.innerHTML = `<p>${quote}</p><p><strong>${author}</strong><br>${title}</p>`;
                quoteText.classList.toggle("show"); // Add a class to handle CSS animations if desired
            });
        });
    });
</script>
