<!-- Blog Section -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Blog</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 blog-item">
                <div class="quote-container" data-quote="There are many people who come in and out of your life and who make a difference. There are deaths and births; there is despair and joy." data-author="Jennifer Metcalfe" data-title="Rethinking science communication models in practice (2019)">
                    <i class="fa-solid fa-feather-alt fa-3x"></i>
                </div>
            </div>
            <div class="col-md-4 blog-item">
                <div class="quote-container" data-quote="It takes a village to raise a child and this PhD is as close to bearing a child as I’ll likely ever come." data-author="Rachael Gross" data-title="At a crossroads: African elephant conservation, climate change and community-based management (2023)">
                    <i class="fa-solid fa-flask fa-3x"></i>
                </div>
            </div>
            <div class="col-md-4 blog-item">
                <div class="quote-container" data-quote="Your third quote here." data-author="Author Name" data-title="Title of the work (Year)">
                    <i class="fa-solid fa-book-open fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="https://yourseparatewebsite.com" target="_blank" class="btn btn-lg btn-outline">Visit Blog Website</a>
            </div>
        </div>
    </div>
</section>
