<!-- Include the modal structure -->
<div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="quoteModalContent"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- JavaScript to handle the modal -->
<script>
    document.querySelectorAll('.quote-container').forEach(function(element) {
        element.addEventListener('click', function() {
            const quote = this.getAttribute('data-quote');
            const author = this.getAttribute('data-author');
            const title = this.getAttribute('data-title');

            const modalContent = `
                <div class="quote-modal-content">
                    <p>"${quote}"</p>
                    <div class="quote-author">${author}</div>
                    <div class="quote-title">${title}</div>
                </div>
            `;

            document.getElementById('quoteModalContent').innerHTML = modalContent;
            $('#quoteModal').modal('show');
        });
    });
</script>
