<!-- Header -->
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-content">
                <br><br> <!-- Add line breaks here to move the content down -->
                <br><br> <!-- Add line breaks here to move the content down -->
                <h1 id="typing-effect" class="typing-animation"></h1>
                <br><br> <!-- Add line breaks here to move the content down -->
                <p class="name">{{ site.skills }}</p>
            </div>
            <div class="col-md-6 image-content">
                <img src="img/profile.png" alt="profile-pic" class="img-responsive">
            </div>
        </div>
    </div>
</header>



<!-- Add this script before the closing body tag -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    const text = "Hello, I am Nhu"; // The text you want to display
    const typingElement = document.getElementById("typing-effect");
    let index = 0;

    function typeText() {
        if (index < text.length) {
            typingElement.innerHTML += text.charAt(index);
            index++;
            setTimeout(typeText, 100); // Adjust speed (in ms) of typing effect
        }
    }

    typeText();
});
</script>

</body>
</html>

