<!-- Header -->
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-content">
                <br><br> <!-- Add line breaks here to move the content down -->
                <br><br> <!-- Add line breaks here to move the content down -->
                <h1>Hello, I am Nhu</h1>
                <br><br> <!-- Add line breaks here to move the content down -->
                <p class="name">{{ site.skills }}</p>
            </div>
            <div class="col-md-6 image-content">
                <img src="img/profile.png" alt="profile-pic" class="img-responsive">
            </div>
        </div>
    </div>
</header>

