---
layout: default
---

<section id="year-activities">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Activities in {{ page.year }}</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      {% assign activities_for_year = site.activities | where: "year", page.year %}
      {% for activity in activities_for_year %}
      <div class="col-md-4 portfolio-item">
        <a href="{{ activity.url }}">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="{{ activity.img }}" class="img-responsive portfolio-thumbnail" alt="{{ activity.alt }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
