<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/_includes/css/main.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <section id="year-activities">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Activities in {{ page.year }}</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        {% assign activities_for_year = site.activities | where: "year", page.year %}
        {% for activity in activities_for_year %}
        <div class="col-md-4 portfolio-item">
          <a href="{{ activity.url }}">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="{{ activity.img }}" class="img-responsive portfolio-thumbnail" alt="{{ activity.alt }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
</html>
